<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<title>eGebra Notebook</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
	<div>
	    <table style="border: none; border-style: hidden; width:100%;" id="searchListTable">
	    <tr><td style="width:50%">
	        <form name="trans" id="trans" method=POST action=entertransaction.jsp>
	            <input type="text/html" name="filterTxt" size="21" tabindex="1" style="width: 88%" id="
	            searchListInp"></input>
	            <input type="button" name="BtnComputationQuery" style="width:10%" value=">" onClick="btnComputationQueryHandler()"></input><br>
	            <select id="possibleComputationsListID" name="possibleComputationsList" size=10 tabindex="2" style="width: 100%">
	            	<!--The values will be filled here by communicate.js-->
	            </select>
	        </form>
	    </td>
		<td style="width:50%">
			<div id="SidePanelArgumentSelector"><!--Content will be added based on context--></div>
		</td></tr>
	    </table>
    </div>

	<div id="ObjectDisplay"><!--Objects to be displayed will come here--></div>
	<div id="EdgeDisplay" class="EdgeDisplayCls"><!--Edges to be displayed will come here--></div>
	<div id="arbor" style="border-width:1px; border-color:black; border-style:dashed;">
		<canvas id="symObjDisplay" width=1000 height=400></canvas>
	</div>

	<center>
		<input type="button" value="Expand" onClick="expandCanvas()"></input>
		<input type="button" value="Contract" onClick="contractCanvas()"></input>
	</center>

	<!--<script type="text/javascript" src="lib/jquery-1.9.1.min.js"></script>
	<script src="lib/arbor.js" ></script>
	<script src="lib/arbor-tween.js"></script>
	<script src="lib/arbor-graphics.js"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->

	<script src="/static/js/jquery-1.9.1.min.js"></script>
  	<script src="/static/js/jquery.address-1.5.min.js"></script>

  	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

 	<script src="/static/js/lib/arbor.js"></script>
  	<script src="/static/js/lib/arbor-tween.js"></script>
  	<!--<script src="js/lib/arbor-graphics.js"></script>-->

  	<script type="text/javascript" src="/static/uiHandler.js"></script>
  	<script type="text/javascript" src="/static/graphHandler.js"></script>
  	<script type="text/javascript" src="/static/communicator.js"></script>
  	<script type="text/javascript" src="/static/searchList.js"></script>
  	<script type="text/javascript" src="/static/computationHandler.js"></script>
</body>
</html>